<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- IOS系统是否允许在桌面创建快捷方式 -->
	<meta content="yes" name="apple-mobile-web-app-capable">
	<!-- IOS系统状态栏颜色 -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- 是否允许数字转成电话格式 -->
    <meta content="telephone=no" name="format-detection">
    <!-- 是否允许数字转成邮箱格式 -->
    <meta content="email=no" name="format-detection">
	<title>乐淘-商品详情</title>
	<meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
    <meta name="Keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/product.css">
</head>
<body>
	<!-- 乐淘容器 -->
	<div class="lt-container">
		<!-- 通栏头部 -->
		<header class="lt-header">
			<a href="javascript:history.back();" class="left-block"><span class="fa fa-arrow-left"></span></a>
			<h3>商品详情</h3>
			<a href="index.html" class="right-block"><span class="fa fa-home"></span></a>
		</header>
		<!-- 内容 -->
		<div class="lt-content">
			<div class="mui-scroll-wrapper wrapper">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->
					<!-- TODO -->
				</div>
			</div>
		</div>
		<!-- 底部页签 -->
		<footer class="lt-footer">
			<a href="javascript:;" id="cart" class="fa fa-cart-plus"></a>
			<a href="javascript:;" id="pay">立即购买</a>
			<a href="javascript:;" id="add-to-cart">加入购物车</a>
		</footer>
	</div>
	<script type="text/template" id="product-detail">
		<!-- 轮播图 -->
		<div class="mui-slider">
		  <div class="mui-slider-group mui-slider-loop">
		  	<% if(!pic || !pic.length) { %>
				<div class="mui-slider-item">
					<a href="javascript:;"><img src="images/none.jpg"></a>
			    </div>
			<% } else if (pic.length == 1) { %>
				<div class="mui-slider-item">
					<a href="javascript:;"><img src="<%= pic[0].picAddr %>"></a>
			    </div>
			<% } else { %>
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
			  	<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="javascript:;"><img src="<%= pic[pic.length - 1].picAddr %>"></a>
				</div>
				<% for(var i = 0; i < pic.length; i++) { %>
					<div class="mui-slider-item">
						<a href="javascript:;"><img src="<%= pic[i].picAddr %>"></a>
				    </div>
				<% } %>
			    <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			    <div class="mui-slider-item mui-slider-item-duplicate">
					<a href="javascript:;"><img src="<%= pic[0].picAddr %>"></a>
				</div>
			<% } %>
		  </div>
		  <div class="mui-slider-indicator">
		  	<% if(pic && pic.length > 1) { %>
		  		<% for(var i = 0; i < pic.length; i++) { %>
		  			<div class="mui-indicator <%= i == 0 ? 'mui-active' : '' %>"></div>
		  		<% } %>
		  	<% } %>
		  </div>
		</div>
		<!-- 商品描述 -->
		<div class="product-desc">
			<span><%= proName %></span>
		</div>
		<!-- 商品价格 -->
		<div class="product-price mui-clearfix">
			<span>价格：</span>
			<span class="price">&yen;<%= price %></span>
		</div>
		<!-- 商品尺码 -->
		<div class="product-size mui-clearfix">
			<span>尺码：</span>
			<% var sizeArr = size.split('-'); %>
			<% for (var i = sizeArr[0]; i <= sizeArr[1]; i++) { %>
				<span class="size"><%= i %></span>
			<% } %>
		</div>
		<!-- 商品数量 -->
		<div class="product-quantity mui-clearfix">
			<span>数量：</span>
			<span class="minus">-</span>
			<input type="text" class="quantity" value="0" readonly>
			<span class="plus">+</span>
			<span class="remain">10件</span>
			<span class="remain-title">剩余：</span>
		</div>
	</script>
	<script src="assets/mui/js/mui.js"></script>
	<script src="assets/zepto/zepto.js"></script>
	<script src="assets/artTemplate/template-native.js"></script>
	<script src="js/common.js"></script>
	<script src="js/product.js"></script>
</body>
</html>