ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
.lt-container {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}
.lt-container .lt-header {
	width: 100%;
	height: 45px;
	background: #006699;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.lt-header a {
	position: absolute;
	width: 45px;
	height: 100%;
	top: 0;
	color: #fff;
}
.lt-header a.left-block {
	left: 0;
}
.lt-header a.right-block {
	right: 0;
}
.lt-header h3 {
	font-size: 20px;
	margin: 0;
	line-height: 45px;
	font-weight: normal;
}
.lt-container .lt-content {
	width: 100%;
	height: 100vh;
	padding: 45px 0 55px 0;
}
.lt-content .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.lt-container .lt-footer {
	width: 100%;
	height: 55px;
	background: #006699;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 999;
	text-align: center;
	color: #fff;
}
.lt-footer a {
	float: left;
	width: 25%;
	height: 100%;
}
.lt-footer a span.fa {
	color: #fff;
	font-size: 20px;
	line-height: 1;
	margin-top: 7px;
}
.lt-footer a p {
	font-size: 16px;
	margin: 0;
	line-height: 28px;
	color: #fff;
}
.lt-footer a.now span.fa, .lt-footer a.now p {
	color: #fda600;
}