.lt-sort {
	margin-top: 10px;
	width: 100%;
}
.lt-sort a {
	float: left;
	width: 25%;
	height: 30px;
	background: #d8d8d8;
	color: #333;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
.lt-sort a.now {
	color: #c81522;
}
.lt-sort a span {
}